{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="{% static 'project/main.css' %}">
    {% if title %}
    <title>Django Project - {{ project_title }}</title>
    {% else %}
    <title>Home project</title>
    {% endif %}
</head>
<body>
  
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'project-home' %}">Django</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div>
                <a class="nav-item nav-link" href="{% url 'project-home' %}">Home</a>
              </div>
             
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'project-create' %}">New Project</a>     
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main role="main" class="container">
        <div>
          <div class="col-md-12">           
            {% block content %}{% endblock %}
          </div>
        </div>
      </main>
    

 
        
</body>
</html>